.app-page {
  height: 100%;
  position: relative;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 8px 0px #ededed;
  padding: 14px 10px;
}

.column-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-data {
  font-size: 13px;
  color: @ins-text-color-light-2;
  text-align: center;
  padding: 40px;
}

.link-text {
  color: @ins-primary-color;
  font-size: 13px;
}

.tip-text {
  color: @ins-text-color-light-2;
  font-size: 13px;
}

.flex-center {
  display: flex;
  align-items: center;
}

.reset-input {
  outline: none;
  border: none;
  color: @ins-text-color;
  font-size: 14px;
  &::placeholder {
    color: #828695;
  }
}

.user-info {
  .flex-center;
  .info {
    flex: 1;
    padding: 0px 10px;
    .name {
      font-size: 14px;
      color: @ins-text-color-light-1;
      margin-bottom: 2px;
    }
    .time {
      font-size: 12px;
      color: @ins-text-color-light-2;
    }
  }
}

.float-btn {
  position: absolute;
  right: 10px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: @ins-primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  .ins-icon {
    color: #fff;
    font-size: 26px;
  }
}