// reset.css

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  // vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
}

html, body, #app{
  height: 100%;
}

body {
  background-color: #f7f8fa;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Segoe UI,Arial, Roboto,'PingFang SC', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif
}

div { box-sizing: border-box}


// vant

.van-popover__action {
  line-height: 44px !important;
}

.van-pull-refresh {
  .van-pull-refresh__track {
    min-height: calc(100vh - 70px);
  }
}

.popover-button {
  .popover-button__item {
    width: 100px;
    line-height: 44px;
    text-align: center;
    font-size: 14px;
    color: #323233;
    margin: 0px 16px;
    position: relative;
    &:last-child::after {
      border-bottom-width: 0px !important;
    }

    .group-icon {
      position: absolute;
      top: 14px;
      right: -2px;
    }
  }
}
