// var 
@primary-color: #1989fa;
@info-color: @primary-color;
@success-color: #07c160;
@error-color: #ee0a24;
@warn-color: #ed6a0c;

// text
// 主字体颜色
@ins-text-color: #323233;
// 主字体颜色2
@ins-text-color-light-1: #646566;
// 指辅助、说明文字
@ins-text-color-light-2: #c8c9cc;

// border
@ins-border-color: #dcdee0;
@ins-border: 1px solid @ins-border-color;